body {
  background: #eee;
}

.product {
  display:block;
}

.product .pricing-table {
  background: white;
  -webkit-transition: -webkit-transform .05s;
  -o-transition: -o-transform .05s;
  transition: transform .05s;
}

.product:hover .pricing-table{
  -webkit-transform: scale(1.07,1.07);
  -ms-transform: scale(1.07,1.07);
  -o-transform: scale(1.07,1.07);
  transform: scale(1.07,1.07);
}

.product .image {
  padding: 1em 0;
}

.product .pricing-table {
  text-align: center;
}

.overline {
  text-decoration: line-through;
}

.product .name {
  padding-top: 1.25em;
  background: forestgreen;
  color: white;
}

.has-tip:hover,
.has-tip {
  color: black;
  border-bottom: 0;
}
