body {
	background-color: #E6E6E6;
}

#content {

	margin: 0 auto;
}

.product {
	width: 300px;
	height: 340px;
	background-color: white;
	border-radius: 10px;
	-moz-border-radius: 10px;
	text-align: center;
	margin: 12px;
	float: left;
}

.hover {
	background-color: #F2F2F2;
}

/* TYPOGRAPHY */

h1 {
	font-size: 1.0em;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin: 20px 10px 10px 10px;
}

p {
	font-size: 1.1em;
	font font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin: 0px;
}

p.new-price {
	padding-top: 10px;
}

p.old-price {
	font-size: 1.0em;
	text-decoration: line-through;
	padding-bottom: 25px;
}

p.delivery {
	font-size: 0.8em;
	padding-bottom: 10px;
}

a {
	text-decoration: underline;
	color: #000000;
	padding: 0 20px;
}
