* {
  box-sizing: border-box;
  // border: 1px solid silver;
  margin: 0;
}

.grid-container {
  max-width: 768px;
  border: $border;
  .product {
    img {

    }
    p {

    }
  }
}

p {
  height: 35px;
}
a {
  text-decoration: none;
  color: black;
}
.product {
  border: 1px solid black;
}
