.full-screen-details {
  z-index: 11;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: $main-color-opacity;
  .detailsDiv {
      margin: 10% auto;
      max-width: 768px;
      background-color: white;
      z-index: 14;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      .half {
        width: 50%;
        padding: 5px;
      }
      .lefthalf {
        display: flex;
        justify-content: center;
      }
      .righthalf {
        position: relative;
      }
    }
  }

.delivery-wrap {
  color: $light-font-color;
  font-size: 1.4rem;
}
.online {
  display: inline-block;
  border: 1px solid #000;
  color: #000;
  padding: 2px 6px;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin: 10px 0;
}
.porto {
  display: inline-block;
  color: $light-font-color;
  padding: 0 6px;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-left: 0;
}
.size-wrap span {
  &:first-of-type {
  font-weight: bold;
  text-transform: uppercase;
  }
  &:last-of-type {
    color: #222;
  }
}
.other-wrap {
  .id-number {
    color: $id-font-color;
    font-size: 1rem;
  }
  .package {
    margin-top: 15px;
    font-size: 1.4rem;
    height: 2rem;
  }
}
