$columns_amount: 12;
$width: (100% / $columns_amount);

.grid-container {
  // max-width: 1170px;
  // border: $border;
  margin: 0 auto;
  .row {
    // min-height: 30px;
  }
  .row::after, .row::before {
    content: '';
    display: table;
    clear: both;
  }
  [class*='col-']{
    float: left;
    // height: 50px;
    // border: $border;
  }
  .col-1 {
    border-right: 1px solid rgba(150, 133, 143, 0.65);
  }
  @for $i from 1 through $columns_amount {
    .col-#{$i} { width: $width * $i }
  }
  .width-100 {
    width: 100%;
  }
}
