
/* Color Theme 
    Emerald: #2ecc71
    Clouds: #ecf0f1
    Grey: #777879
*/

/*****************************/
/*Global CSS*/
/*****************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/*****************************/
/* Reusable Components */
/*****************************/

row{
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding: 80px 30px;
}

.btn{
    background-color: #2ecc71;
    color: #fff;
    border-radius: 17px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    border: 2px solid transparent;
    transition: border 0.2s;
}

.btn:hover{
    cursor: pointer;
    border: 2px solid #777879;
}

i{
    margin: 5px;
}

/*****************************/
/*Product Box CSS*/
/*****************************/

ul{
    list-style-type: none;
    position: relative;
    width: 100%;
}

li{
    font-size: 80%;
    margin: 5px auto;
    width: 50%;
}

li img{
    width: 100%;
    margin: 2px;
    border: 2px solid transparent;
    transition: border 0.2s;
}

li img:hover{
    border: 2px solid #2ecc70a4
}

.discount{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    background-color: #2ecc71;
    display: inline-block;
    color: #fff;
    text-align: center;
}

.price{
    font-size: 120%;
    color: #2ecc71;
}

.name{
    font-weight: 700;
}

.price_old{
    text-decoration: line-through;
    color: #777879;
}

.sizes{
    font-size: 60%;
    color: #777879;
}