<!--The content below is only a placeholder and can be replaced.-->
<div class="fixed-top">
  <header class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-sm-12" style="height: 2em;"></div>
      </div>
    </div>
  </header>
  <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
    <div class="container">
      <a class="navbar-brand text-capitalize" href="index.html" >Teknisk opgave: Iryna Grabar</a>
    </div>
  </nav>
</div>
<app-home></app-home>





