.nav-bar-container{
    width: 100%;
    display: flex;
    background-color: white;
}
.nav-bar-logo{
    width: 30%;
    text-align: left;
    padding-left: 25px;
    font-weight: bold;
    color: #0CD428;
    font-size: 25px;
}
.nav-bar-text{
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    margin-right: 10px;
    text-transform: uppercase;
}

@media only screen and (max-width: 1024px) {
    .nav-bar-text{
        display: none;
    }
    .nav-bar-logo{
        width: 100%;
        text-align: center;
        font-size: 35px;
    }
  }