$border: 1px solid red;
$main-color: rgb(10, 191, 90);
$main-color-opacity: rgba(0, 0, 0, 0.1);
$light-font-color: #a9a9a9;
$id-font-color: #ccc;
$main-font: 'francois_oneregular';
$other-font: 'latoregular';
