<div class="container">
  <div class="button-row  text-right">
    <button mat-raised-button class="sort_button col-md-2" (click)=sortByprice()>Sort</button>
  </div>
  <div class="row">
    <div  class="col-sm-2 col-md-4" *ngFor="let product of _productsArray">
      <mat-card class="example-card col-md-12">
          <span class="{{hasDiscount(product) ? 'sale' : 'hidden'}}"> 
            {{getDiscount(product)}}%
          </span>
          <img mat-card-image id="myImg" src="{{product.image}}" alt="Photo of a {{product.name}}">
          <mat-card-content>
            <mat-card-title class="text-center">{{product.name}}</mat-card-title>
            <h4 class="text-center">
                 {{product.price }} <small class="text-muted">{{product.currency}}</small >
            </h4>
            <mat-card-subtitle class="text-right">
              <p>{{product.delivery}}<i class="fa fa-truck"></i>
              </p>
              <p>
                  {{product.online == "1" ? "På lager"  : "offline"}} 
                  <span class="{{product.online == '1' ? 'round round-sm green' :'round round-sm grey'}}"></span>
              </p>
           </mat-card-subtitle>
            <p>
              <b>Størrelse: </b>{{product.sizes}}
            </p>
          </mat-card-content>
      </mat-card> 
    </div>
  </div>
</div>